@import 'https://fonts.googleapis.com/css?family=Roboto';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-y: scroll;
}

h1 {
  font-size: 32px;
  color: white;
  margin: auto;
  background: rgba(100, 100, 255, 0.8);
  text-align: center;
  padding-bottom: 2px;
}

#container {
  width: inherit;
  height: inherit;
  margin-top: 2%;
}

#graph {
  position: relative;
  height: 53% !important;
  width: 75% !important;
  margin: auto;
  margin-bottom: 30px;
}

#table {
  width: 18%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}

th.extra-space {
  padding: 14px;
}

th.cell {
  padding: 0px;
}

td.cell {
  padding: 0px;
}

.center-me {
  position: relative;
  left: 45%;
  display: block;
}

#plus {
  background-color: rgba(100, 100, 255, 0.8);
  color: white;
}

.input-cell {
  text-align: center;
}

#signature {
  font-size: 11px;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 1%;
  margin-left: 1%;
}

#signature > a {
  text-decoration: none;
}

#signature > a:visited {
  color: black;
}

#signature > a:hover {
  color: #555;
}
